body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: turquoise;
}

div {
    background-color: lightblue;
}

.container {
    width: 60%;
    margin: auto;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #333;
}

h2 {
    color: #934656;
    font-family: 'Times New Roman', Times, serif;
    border: #192891;
}

form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-top: 10px;
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    margin-top: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#summary-section {
    margin-top: 40px;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #ddd;
}

#summary-output {
    padding-top: 10px;
}