body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(149, 255, 248);
    height: 90%;
}

#sections-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

#meal-section, #exercise-section {
    width: 48%;
    background-color: white;
    padding: 15px;
    border-radius: 8px;
}

div {
    background-color: lightblue;
}

.container {
    width: 90%;
    margin: auto;
    padding: 30px;
}

h1 {
    text-align: center;
    color: #333;
}

h2 {
    color: #934656;
    font-family: 'Times New Roman', Times, serif;
    border: #192891;
}

form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-top: 10px;
}

input {
    width: 90%;
    padding: 10px;
    margin-top: 5px;
}

button {
    background-color: #0000FF;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    margin-top: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #00F0FF;
}

#summary-section {
    margin-top: 40px;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #ddd;
}

#summary-output {
    padding-top: 10px;
}

#summary-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    background-color: #ffffff;
}

.summary-box {
    flex: 1;
    padding: 15px;
    border: 3px solid #ccc;
    border-radius: 50px;
    text-align: center;
    background-color: #f9f9f9;
}